@import 'mixin';

.AuctionDetail-Wrapper{
   .AuctionDetail-Wrp{
       .AuctionDetail-Left{
           .Specs-wrapper{
               padding: 0 0 3rem;
           .Aucdetail-wrp1{
            .ovr-right{border-bottom: inherit!important;}
               .auc-right{
                   .Auc-detail-head{
                       border-bottom: 1px solid #cfcfcf;
                       @include flex;
                       justify-content: $between;
                       span{
                           text-transform: $cap;
                           font-size: 1.4em;
                           word-spacing: 1px;
                           letter-spacing: .5px;
                           color: #000;
                       }
                   }
                   .aucDetail-unorder{
                      li{
                          @include flex;
                          justify-content: flex-start;
                          border: none!important;
                          width: 100%!important;  
                          border-bottom: 1px solid #cfcfcf!important;
                          border-radius: inherit!important;
                         h3,h4{
                             padding-right: 1.5rem;
                             font-weight: 300!important;
                             color: #777!important;
                             font-size: 1.2em!important;
                             i{
                                 font-size: 15px;
                                 color:#000;
                                 margin-right:4px;
                             }
                         } 
                     } 
                     .auc-item4{
                         .btn2{
                            width: 45%;
                            padding: .7rem .5rem;
                            margin: .5rem 0;
                            border-radius: 5px;
                            font-size: 14px;
                            color: #fff;
                            border: 1px solid #999;
                            outline: none; 
                            background: #f04031;
                            font-size: 1.3em;
                            text-align: center;
                            text-transform: $cap;
                            transition: $transition;
                            &:hover{
                                transition: $transition;
                                opacity: .77;
                            }
                         }
                     }
                     .auc-item5{
                         i{
                             font-size: 1.9em;
                             cursor: pointer;
                             color: #999;
                             transition: $transition;
                             margin: .5rem 2.5rem .5rem 0;
                             &:hover{
                                transition: $transition;
                                color: #000;
                                transform: scale(1.019);
                             }
                         }
                     }
                   }
               }
           }
       
       //    <!--Auction----Client-view-->
         .Auction-Client-view-wrp{
             @include flex;
             justify-content: space-between;
             align-items: inherit!important;
             padding: 2rem 0 0;
             .Client-Left-Wrp{
                 width: 65%;
                 .Client-Heading{
                     h2{
                         @include h2;
                         font-size: 1.3;
                         padding: .5rem 0 0!important; 
                     }
                     p{
                         font-size: 1em;
                         text-transform: $cap;
                         letter-spacing: .5px;
                         word-spacing: 1px;
                         line-height: 1.5;
                         padding: .5rem 0;
                     }
                 }
                 .Client-View-Content{
                    width: 100%;
                     .Tab-wrp-unorder1{
                         width: 100%;
                         @include flex;
                         justify-content: flex-start;
                         margin: .5rem 0;
                         border-top: 1px solid #999;
                         border-bottom: 1px solid #999;
                        .Ft{
                            border: none;
                            font-size: 1.22em;
                            text-transform: $cap;
                            color:$site-color;
                            padding-bottom: .5rem;
                            width: 21%;text-align: center;
                            margin-right: 2rem;
                            font-weight: bold;
                            border-radius: inherit!important;
                            cursor: pointer;
                            margin: .0rem 0 0;
                            padding: .9rem 0;
                            transition: $transition;
                            &:hover{
                                opacity: .77;
                                transition: $transition;
                                transform: scale(1.019);
                            }
                        }
                        .Featur-active{
                            border-bottom: 2px solid #000!important;
                            color: #000;
                        }
                     }
                     .Client_List{
                         li{
                            border: none;
                            font-size: 1em;
                            text-transform: $cap;
                            color:$site-color;
                            padding-bottom: .5rem;
                            width: 100%;
                            border-radius: inherit!important; 
                            @include flex;
                            justify-content: $between;
                            border-bottom: 1px solid #d4d4d4;
                            margin: 0 0 .5rem;
                            padding: .5rem 0 .8rem;
                            .l01{
                                width: 49%;
                            }
                         }
                     }
                 }
             }
             .Client-Right-Wrp{
                width: 35%;
                height: 100vh;
                overflow: hidden;
                .blank-box{
                    width: 100%;
                    height: 100vh;
                    background: #eee;
                }
            }
         }

      //    <!--Auction----Client-view-end----here->
       }
    }
   } 
}

.UsedCar-Detail-Wrapper,.AuctionDetail-Wrapper{
    width: 100%;
    .UsedCar-Detail_left,.AuctionDetail-Left{
        .auc-item4 {
            width: 100%;
            h3{
                width: 100%;
                font-size: 1.4em!important;
                color: #000!important;
            }
        }
        .Client_List{
            .l01{
                p{
                    font-size: 1em;
                    color:#6b6b6b;
                    text-transform: $cap;
                    // letter-spacing: .5px;
                    word-spacing: 1px;
                    padding: .3rem 0;
                }
                h4{
                    font-size: 1em;
                    color: #000!important;
                    text-transform: $cap;
                    letter-spacing: .5px;
                    word-spacing: 1px;
                    font-weight: 500;
                    padding: .3rem 0;
                    font-family: 'Gotham Pro Regular';
                }
            }
        }
    }
}