@import 'mixin';

.Login-Wrapper{
    width:100%;
    .Login-wrp{
        width: 100%;
        .Login-Content-Wrp{
            .Login-Left{
                width: 100%;
                margin: 0 auto;
                position: relative;
                // height: 700px; 
                // background: url(../image/login-bg.png)no-repeat;
                // background-size: cover; 
                &::before{
                    content: '';
                    width: 100%;
                    height: 100%;
                    background:#172f558a;
                    position: absolute;
                    left: 0;
                    top: 0;
                    // display: none;
                }
                .Fig-wrp{
                    width: 100%;
                    height: 90vh;
                    background: url(../image/login-bg.png)no-repeat;
                     background-size: cover;
                    
                    // img{
                    //     max-width: 100%;
                    //     border-radius: 5px;
                    // }
                }
                // ---Form-----//
                .Log-Trade-wrp{
                    width: 40%;
                    margin: 0 0 0 auto;
                    position: relative;
                    top: 3rem;
                    right: 2.5rem;
                    border-radius: 5px;
                    background: #fff;
                    padding: 1rem 1rem;
                    box-shadow: 0 0 5px 2px rgba(153, 153, 153, 0.63);
                    animation:loganime 3s linear infinite;
                    @keyframes loganime {
                        0%,100%{
                            transition: $transition;
                            transform: translateY(-1.5px);
                        }
                        50%{
                            transition: $transition;
                            transform: translateY(1.5px); 
                        }
                    }
                    .log-heading{
                        h2{
                            @include h2; 
                            text-align: center;
                            padding: .3rem 0 1rem!important;
                        }
                    }
                    .log-form-wrp{
                        form{
                            width: 100%; 
                            .Lg-cmn01{
                                input,select{
                                    width: 100%;
                                    padding: .8rem .5rem; 
                                    margin: .5rem 0;
                                    border-radius: 5px;
                                    font-size: 14px;
                                    color: #999;
                                    border: 1px solid #999;
                                    outline: none; 
                                    transition: all 0.3s ease-in-out;
                                    &:hover{
                                    transition: all 0.3s ease-in-out;
                                    border-color: #000;
                                    }
                                    &:focus{
                                    transition: all 0.3s ease-in-out; 
                                    box-shadow: 0 0 2px 1px #172f5557;
                                    }
                                } 
                            }
                            .Lg3 {
                                padding: .6rem 0;
                                .Label1{
                                    @include flex;
                                    justify-content: flex-start;
                                    input{
                                        width: 16px;
                                        height: 16px;
                                        margin-right: .5rem;
                                        cursor: pointer;
                                    }
                                    b{
                                        font-size: 1em;
                                        text-transform: $cap;
                                        line-height: 1.5;
                                    }
                                }
                            }
                            .Lg4{
                                @include flex;
                                justify-content: $between;
                                label{
                                    width: 48%;
                                    // #f04031
                                    input{
                                        border: 1px solid #f04031;
                                        color: #f04031;
                                        background: #fff;
                                        font-size: 1.1em;
                                        text-transform: $cap;
                                        transition: $transition;
                                        cursor: pointer;
                                        &:hover{
                                            opacity: .77;
                                            transition: $transition;
                                            transform: scale(1.009);
                                        }
                                    }
                                }
                                .Log-active{
                                    input{
                                        background:#f04031;
                                        color: #fff;
                                    }
                                }
                            }
                            .Lg5{
                                .Pswrd{
                                    padding: .6rem 0;
                                    font-size: 1.078em;
                                    text-transform: $cap;
                                    letter-spacing: .5px;
                                    word-spacing: 1px; 
                                    color: steelblue;
                                    transition: $transition;
                                    display: inline-block;
                                    &:hover{
                                        transition: $transition;
                                        color: $site-color;
                                        transform: scale(1.009);
                                    }
                                }
                                h3{
                                    font-size: 1.1em;
                                    text-transform: $cap;
                                    letter-spacing: .5px;
                                    word-spacing: 1px; 
                                    padding: .6rem 0;
                                    text-align: center;
                                    color: #000;
                                }
                                .S-Google{
                                    display: inline-block;
                                    width: 100%;
                                    transition: $transition;
                                   input{
                                       padding: .9rem .5rem;
                                       font-size: 1.1em;
                                       text-transform: $cap;
                                       line-height: 1.5;
                                       word-spacing: 1px;
                                       letter-spacing: .5px;
                                       text-align: center;
                                       color: #fff;
                                       cursor: pointer;
                                       background: steelblue;
                                       border-radius: 5px;
                                       transition: $transition;
                                       &:hover{
                                           transition: $transition;
                                           border-radius: 100px; 
                                           background: $site-color;
                                       }
                                   }
                                }
                            }
                        }
                    }
                }
                // ---form--end--here---//
            }
        }
    }
}


// -----Signup---page---
.Signup_Wrapper{
    .Signup-Wrp{
        .Signup-Content-Wrp{
            .Signup-left{
                .Log-Trade-wrp{
                    .log-form-wrp{
                        form{
                        .Lg4{
                            label.Label2.Lbl-cmn.Log-active{
                                width: 100%!important;
                            }
                        }
                        .Lg5{
                            width: 100%;
                            text-align: center;
                            a{
                                font-size: 1.1em;
                                line-height: 1.5;
                                letter-spacing: .5px;
                                word-spacing: 1px;
                                color: steelblue; 
                                display: inline-block;
                                padding: .7rem 0;
                                transition: $transition;
                                &:hover{
                                    transition: $transition;
                                    color: #000;
                                    opacity: .88;
                                }
                                b{
                                    color: #000!important;
                                    padding-right: .2rem;
                                }
                            }
                        }
                     }
                  }
              }
           }
        }
    }
}

 
///-----Sign--up----page----