table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, li {
  font-family: 'Gotham Pro bold';
}

p, li {
  font-family: 'Gotham Pro Regular';
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.active-star {
  color: #ffb900 !important;
  cursor: pointer;
}

hr.rv-hr {
  width: 95%;
  margin: .5rem auto 0;
  background: #cfcfcf !important;
  /* padding: .5rem 0 0; */
  color: #cfcfcf;
  font-weight: normal;
  height: 1px;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left {
  width: 95% !important;
  margin: 0 auto;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-heading {
  width: 100%;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-heading .Sell-unorder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1rem 0 0;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-heading .Sell-unorder li {
  font-size: 1.1em;
  text-transform: capitalize;
  letter-spacing: .5px;
  word-spacing: 1px;
  margin: .5rem .5rem;
  border-radius: 5px;
  border: 1px solid #172f55;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: .5rem 2.6rem;
  cursor: pointer;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-heading .Sell-unorder .S-Active-btn {
  background: #172f55;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp {
  margin: 1rem 0 1.5rem;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp form .Form-chil-wrp {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: .5rem 1.5rem;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp form .Form-chil-wrp .S-cmn1 {
  width: 100%;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp form .Form-chil-wrp .S-cmn1 select, .Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp form .Form-chil-wrp .S-cmn1 input {
  padding: .6rem .5rem;
  width: 100%;
  margin: .5rem .5rem;
  text-transform: capitalize;
  font-size: 1em;
  letter-spacing: .5px;
  word-spacing: 1px;
  color: #172f55;
  border: 1px solid #172f55;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  outline: none;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp form .Form-chil-wrp .S-cmn1 select option, .Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp form .Form-chil-wrp .S-cmn1 input option {
  padding: .5rem .5rem;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp form .Form-chil-wrp .S-cmn1 select:hover, .Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp form .Form-chil-wrp .S-cmn1 input:hover {
  border-color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp form .Form-chil-wrp .S-cmn1 select:focus, .Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp form .Form-chil-wrp .S-cmn1 input:focus {
  -webkit-transform: scale(1.009);
          transform: scale(1.009);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.048);
          box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.048);
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp form .Frm-next-btn {
  width: 100%;
  text-align: center;
  margin: 1rem 0 0;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp form .Frm-next-btn a input {
  cursor: pointer;
  padding: .799rem 4.5rem;
  text-transform: capitalize;
  font-size: 1.1em;
  background: #172f55;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #172f55;
}

.Sell-Wrapper .Sell-Sub-wrp .Sell-Content-Wrp .Sell-Left .Sell-Sub-left .Sell-Form-wrp form .Frm-next-btn a input:hover {
  opacity: .77;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Sell2-Wrapper .Sell2-sub-wrp .Top-heading li {
  text-align: center !important;
  color: #172f55;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp {
  -webkit-box-shadow: inherit !important;
          box-shadow: inherit !important;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left {
  width: 100% !important;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collap-heading {
  -webkit-box-shadow: 0 0px 4px 2px #99999952 !important;
          box-shadow: 0 0px 4px 2px #99999952 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.4rem;
  margin: .5rem 0 1.5rem;
  border-radius: 5px;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collap-heading h2 {
  font-size: 1.5em;
  text-transform: capitalize;
  line-height: 1.5;
  word-spacing: 1px;
  color: #172f55;
  padding: 1rem 0;
  font-size: 1.3em;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collap-heading span i {
  font-size: 1.2em;
  color: #0063ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collap-heading span i:hover {
  color: #172f55;
  -webkit-transform: all 0.3s ease-in-out;
          transform: all 0.3s ease-in-out;
  -webkit-transform: scale(1.0098);
          transform: scale(1.0098);
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content {
  width: 100%;
  -webkit-box-shadow: 0 0px 4px 2px #99999952 !important;
          box-shadow: 0 0px 4px 2px #99999952 !important;
  padding: 1rem 1.5rem;
  margin: 2rem 0 1rem;
  border-radius: 5px;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Frm-next-btn {
  width: 100%;
  text-align: center;
  margin: 2.6rem 0 1.1rem;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Frm-next-btn a input {
  cursor: pointer;
  padding: .799rem 4.5rem;
  text-transform: capitalize;
  font-size: 1.1em;
  background: #172f55;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #172f55;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Frm-next-btn a input:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .77;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: inherit !important;
      -ms-flex-align: inherit !important;
          align-items: inherit !important;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 {
  width: 48%;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 a {
  padding: .9rem .5rem;
  width: 100%;
  border-radius: 5px;
  background: #172f55;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: .5rem 0 1.9rem;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 a:hover {
  opacity: .77;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 a input {
  color: #fff;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  outline: none;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .L1 {
  padding: .5rem 0;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .L1 h3 {
  font-size: 1.1em;
  text-transform: capitalize;
  line-height: 1.5;
  word-spacing: 1px;
  letter-spacing: .5px;
  padding: .8rem 0;
  color: #172f55;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .L1 p {
  font-size: 1em;
  text-transform: capitalize;
  line-height: 1.5;
  word-spacing: 1px;
  letter-spacing: .5px;
  color: #172f55;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .Ryt-heading {
  padding: .9rem .5rem;
  width: 100%;
  text-transform: capitalize;
  border-radius: 5px;
  border: 2px dashed;
  text-align: center;
  border-color: #172f55;
  margin: .4rem 0 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .Ryt-heading:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .88;
  border-color: #000;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .Ryt-heading input {
  font-size: 1em;
  text-transform: capitalize;
  letter-spacing: .5px;
  word-spacing: 1px;
  color: #172f55;
  border: none;
  outline: none;
  cursor: pointer;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .Ryt-content {
  padding: .6rem .5rem;
  width: 100%;
  height: 250px;
  text-transform: capitalize;
  border-radius: 5px;
  border: 2px dashed;
  text-align: center;
  border-color: #172f55;
  margin: 1.5rem 0 0;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .Ryt-content .Ryt-tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: .5rem 1rem;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .Ryt-content .Ryt-tabs .item-cmn01 {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border: 1px solid rgba(153, 153, 153, 0.602);
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .Ryt-content .Ryt-tabs .item-cmn01:hover {
  -webkit-box-shadow: 0 0 3px 2px #99999940;
          box-shadow: 0 0 3px 2px #99999940;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .Ryt-content .Ryt-tabs .item-cmn01:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .Ryt-content .Ryt-tabs .item-cmn01 img {
  max-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .Ryt-content .Ryt-tabs .item-cmn01 .Close-wrp {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .Ryt-content .Ryt-tabs .item-cmn01 .Close-wrp i {
  font-size: 1em;
  color: #172f55;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Content form .Collap-Form-wrp .Col-Wrp1 .Ryt-content .Ryt-tabs .item-cmn01 .Close-wrp i:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: .77;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt1, .Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt2 {
  display: none;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt2 form .Collap-Form-wrp .Collp-Lft1, .Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 form .Collap-Form-wrp .Collp-Lft1 {
  width: 100% !important;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt2 form .Collap-Form-wrp .Collp-Lft1 .Sell-unorder, .Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 form .Collap-Form-wrp .Collp-Lft1 .Sell-unorder {
  margin-bottom: 1rem;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt2 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .Cl01 h2, .Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .Cl01 h2 {
  font-size: 1.5em;
  text-transform: capitalize;
  line-height: 1.5;
  word-spacing: 1px;
  color: #172f55;
  padding: 1rem 0;
  padding: .5rem 0;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt2 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .Cl01 h3, .Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .Cl01 h3 {
  font-size: 1.5em;
  text-transform: capitalize;
  line-height: 1.5;
  word-spacing: 1px;
  color: #172f55;
  padding: 1rem 0;
  font-size: 1.3em;
  padding: 0.5rem 0 !important;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt2 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .Cl01 h3 i, .Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .Cl01 h3 i {
  font-size: 15px;
  text-transform: capitalize;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt2 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .Cl01 h3 b, .Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .Cl01 h3 b {
  font-size: 15px;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt2 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .F-inpt-wrp, .Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .F-inpt-wrp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt2 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .F-inpt-wrp label, .Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .F-inpt-wrp label {
  width: 22%;
  margin-right: 1rem;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt2 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .F-inpt-wrp label input, .Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .F-inpt-wrp label input {
  padding: .6rem .5rem;
  width: 100%;
  margin: .5rem 0;
  text-transform: capitalize;
  font-size: 1em;
  letter-spacing: .5px;
  word-spacing: 1px;
  color: #172f55;
  border: 1px solid #172f55;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  outline: none;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt2 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .F-inpt-wrp label input:hover, .Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .F-inpt-wrp label input:hover {
  border-color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt2 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .F-inpt-wrp label input:focus, .Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .F-inpt-wrp label input:focus {
  -webkit-transform: scale(1.009);
          transform: scale(1.009);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 1px 3px rgba(153, 153, 153, 0.329);
          box-shadow: 0 0 1px 3px rgba(153, 153, 153, 0.329);
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt2 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .Finpt1, .Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 form .Collap-Form-wrp .Collp-Lft1 .Coll-Left-Content .Finpt1 {
  border-bottom: 1px solid #999;
  padding-bottom: 1.6rem;
  margin-bottom: 1.2rem;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 .F-inpt-wrp {
  width: 100%;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 .F-inpt-wrp label {
  width: 50% !important;
  position: relative;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 .F-inpt-wrp label input {
  width: 100% !important;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 .F-inpt-wrp label .Verify-btn {
  position: absolute;
  top: 0;
  right: -2px;
  padding: 0 !important;
  margin: 0 !important;
  width: 100px !important;
  text-align: center;
  background: transparent !important;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 .F-inpt-wrp label .Verify-btn #Submit2 {
  background: #172f55;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Sell2-Wrapper .Sell2-sub-wrp .Sell2-Content-Wrp .Sell2-Left .Collaps-Wrp .Collaps-Cnt3 .F-inpt-wrp label .Verify-btn #Submit2:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .77;
}
/*# sourceMappingURL=sell.css.map */